.app-user-filters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.search-bar {
width: 350px; /* adjust as needed */
}